<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img src="/img/logo.png" alt="Flow tracker" srcset="">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Inicio</span>
      </a>
      <a mat-list-item href="#">
        <mat-icon matListItemIcon>swap_horiz</mat-icon>
        <span matListItemTitle>Transacciones</span>
      </a>
      <a mat-list-item href="#">
        <mat-icon matListItemIcon>category</mat-icon>
        <span matListItemTitle>Categorías</span>
      </a>
      <a mat-list-item href="#">
        <mat-icon matListItemIcon>pie_chart</mat-icon>
        <span matListItemTitle>Presupuestos</span>
      </a>
      <a mat-list-item href="#">
        <mat-icon matListItemIcon>savings</mat-icon>
        <span matListItemTitle>Metas de ahorro</span></a>
      <a mat-list-item href="#">
        <mat-icon matListItemIcon>assessment</mat-icon>
        <span matListItemTitle>Informes</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" matIconButton (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>flowtracker-client</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>