<footer class="bg-body-tertiary border-top pb-1">
    <div class="container">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a routerLink="/home" routerLinkActive="active" class="nav-link px-2 text-body-secondary">Inicio</a>
            </li>
            <li class="nav-item">
                <a routerLink="/transactions" routerLinkActive="active" class="nav-link px-2 text-body-secondary">Transacciones</a>
            </li>
            <li class="nav-item">
                <a routerLink="/categories" routerLinkActive="active" class="nav-link px-2 text-body-secondary">Categorías</a>
            </li>
            <li class="nav-item">
                <a routerLink="/saving-goals" routerLinkActive="active" class="nav-link px-2 text-body-secondary">Metas de ahorro</a>
            </li>
            <li class="nav-item">
                <a routerLink="/reports", routerLinkActive="active" class="nav-link px-2 text-body-secondary">Reportes</a>
            </li>
        </ul>
        <img src="images/logo.png" alt="Logo Flow Tracker" width="120" class="d-block mx-auto">
        <p class="text-center text-body-secondary"><small> &copy; 2025 Carlos Blanco Galán</small></p>
    </div>
</footer>

